* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  /*background-color: rgb(0, 186, 219);*/
  /* background-image: url(./assets/capa\ de\ fundo.jpeg); */
}

/* botões de cima */
ul {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: right;
  padding: 0px 50px;
  font-size: 30px;
}

ul li a {
  text-decoration: none;
  color: black;
}

#container {
  width: 100%;
  display: flex;
}

/*texto da foto*/
#container p {
  position: absolute;
}

#container p {
  font-size: 100px;
  padding: 30px 30px;
  right: 50%;
}

/*foto de capa*/
#profile {
  text-align: center;
}

#profile img {
  width: 100%;
}

/*caixa das fotos de baixo*/
#container2 {
  display: flex;
}

/*fotos, titulos e texto de baixo*/
#profile1 {
  flex-direction: row;
}
#profile1 h1 {
  text-align: right;
  padding: 0px 60px;
}
#profile1 p {
  font-size: 30px;
  text-align: right;
  padding: 0px 60px;
}
#profile1 img {
  padding: 50px;
  height: 1000px;
  flex-direction: ;
}

#profile2 h1 {
  text-align: left;
  padding: 0px 60px;
}
#profile2 p {
  font-size: 30px;
  text-align: left;
  padding: 0px 60px;
}
#profile2 img {
  padding: 50px;
  height: 1000px;
  flex-direction: right;
}

#profile3 h1 {
  text-align: right;
  padding: 0px 60px;
}
#profile3 p {
  font-size: 30px;
  text-align: right;
  padding: 0px 60px;
}
#profile3 img {
  padding: 50px;
  height: 1000px;
  justify-content: left;
}

#profile4 h1 {
  text-align: left;
  padding: 0px 60px;
}
#profile4 p {
  font-size: 30px;
  text-align: left;
  padding: 0px 60px;
}
#profile4 img {
  padding: 50px;
  height: 1000px;
  justify-content: left;
}

#profile5 h1 {
  text-align: right;
  padding: 0px 60px;
}
#profile5 p {
  font-size: 30px;
  text-align: right;
  padding: 0px 60px;
}
#profile5 img {
  padding: 50px;
  height: 1000px;
  justify-content: left;
}
