* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  /*background-color: rgb(0, 186, 219);*/
  background-image: url(./assets/capa\ de\ fundo\ 3.jpg);
  background-size: cove;
  background-position: center;
  background-repeat: repeat;
}

#container {
  width: 100%;
  max-width: 2000px;
  margin: 20px auto 0px;
}

/* botões de cima */
ul {
  list-style: none;
  display: flex;
  justify-content: right;
  padding: 0px 10px;
  font-size: 30px;
}

ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;

  background-color: white;
}

#container0 {
  display: flex;
}

/*texto da foto*/
#container0 p {
  position: absolute;
}

#container0 p {
  font-size: 100px;
  padding: 30px 30px;
  right: 50%;
}

/*foto de capa*/
#profile {
  text-align: center;
}

#profile img {
  width: 100%;
}

/*fotos, titulos e texto de baixo*/
#container1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  padding: 50px;
  height: 1000px;
}

#container1 p {
  font-size: 50px;
  padding: 30px 60px;
  background-color: rgba(255, 255, 255, 0.5);
}

.container1 img {
}

#container2 {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 50px;
  height: 1000px;
}
#container2 p {
  font-size: 50px;
  padding: 30px 60px;
  background-color: rgba(255, 255, 255, 0.5);
}

#container3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  padding: 50px;
  height: 1000px;
}
#container3 p {
  font-size: 50px;
  padding: 30px 60px;
  background-color: rgba(255, 255, 255, 0.5);
}

#container4 {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 50px;
  height: 1000px;
}
#container4 p {
  font-size: 50px;
  padding: 30px 60px;
  background-color: rgba(255, 255, 255, 0.5);
}

#container5 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  padding: 50px;
  height: 1000px;
}
#container5 p {
  font-size: 50px;
  padding: 30px 60px;
  background-color: rgba(255, 255, 255, 0.5);
}
