* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

#container {
  width: 100%;
  max-width: 2000px;
  margin: 0;
  padding: 0;
  border: solid 1px red;
}

#container p {
  display: flex;
  position: absolute;
}

#container p {
  justify-content: center;
  font-size: 100px;
  padding: 30px 30px;
}

#profile {
  text-align: center;
}

#profile img {
  width: 1320px;
}
